# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Lib directories
pogosim
pogobot-sdk

# Results directories
frames/
build/
examples/*/build/

# Examples binaries
examples/fixp/fixp
examples/wall_avoidance/wall_avoidance
examples/heading_detection/heading_detection
examples/heading_PID/heading_PID
examples/wall_avoidance_heading/wall_avoidance_heading
examples/kinematics/kinematics
examples/photostart/photostart
examples/oneplusone_es/oneplusone_es
examples/spsa/spsa
examples/sep_cmaes/sep_cmaes
examples/pgpe/pgpe
examples/social_learning/social_learning
examples/hit/hit

# Generated figures
*.pdf

